@import '_variables.scss';

body {
  background-color: $backgroundColor;
  text-align: center;
}

.nav {
  background-color: $secondaryColor;
  padding-bottom: 10px;
  padding-top: 10px;
  .nav-link {
    color: black;
    font-size: 200%;
  }
}

#home {
  font-size: 150%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  #few {
    .card {
      border-color: black;
      border-width: 5%;
      color: black;
      font-style: normal;
      font-weight: normal;
      font-family: $font-stack;
      height: 350px;

      max-height: 350px;
      .card-img-top {
        max-height: 200px;
      }
    }
  }
}




form {
  margin-top: 2%;
  display: inline-block;
  input {
    text-align: center;
  }
  width: 400px;
}

.radio-inline {
  margin: 0;
}

#picture {
  margin-top: 2%;
}

footer {
  background-color: $secondaryColor;
  text-align: center;
  margin-top: 10%;
  a {
    color: white;
    display: inline-block;
  }
  .icon {
    font-size: 200%;
    margin: 5px;
  }
  #copyright {
    float: right;
    margin: 10px;
  }
}
